:root {
  --black: #020303;
  --dark-grey: #171c1c;
  --light-grey: #a7b9b7;
  --primary: #ececec;
  --primary-dark: #838383;
  --secondary: hsl(0, 0%, 100%);
  --secondary-light: hsl(0, 0%, 86%);
  --text-color: #ffffff;
  --space: 16px;
  --font-size: 18px;
}

body {
  background-color: var(--primary-dark);
  color: var(--text-color);
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--black);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a {
  color: var(--secondary-light);
  transition: color 200ms;
  text-decoration: none;
  font-weight: bold;
}
a:hover,
a:focus {
  color: var(--secondary);
  font-weight: bold;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: .1em;
  padding: .7em;
  color: white;
  font-size: 1em;
  width: 250px;
}

textarea {
  width: 80%;
  height:100px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: .1em;
  padding: .7em;
  color: white;
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  resize: none;
}

button {
  background-color: var(--secondary-light);
  color: var(--black);
  padding: .7em .9em;
  text-align: center;
  text-decoration: none;
  font-size: .8em;
  border-radius: .6em;
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: 800;
  margin: 1em;
}

button:hover {
  background-color: var(--primary);
  color: var(--black);
}

button.fav {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.heart {
  color: red;
  background-color: currentColor;
  display: inline-block;
  height: 50px;
  margin: 0 10px;
  position: relative;
  top: 0;
  transform: rotate(-45deg);
  position: absolute;
  left: 45%;
  top: 45%;
  width: 50px;
}

.heart-checkbox {
  display: none;
}

.heart::before,
.heart::after {
  content: "";
  background-color: currentColor;
  border-radius: 50%;
  height: 50px;
  position: absolute;
  width: 50px;
}

.heart:before {
  top: -25px;
  left: 0;
}

.heart:after {
  left: 25px;
  top: 0;
}

.heart-checkbox:checked+.heart {
  color: black;
}

hr {
  border: .15em solid #4b4b4b;
}

footer {
  text-align: center;
  margin-top: auto;
  background-color: var(--cream);
  color: var(--bg);
  padding: 20px;
}

.site-logo {
  text-align: center;
  color: var(--text-color);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--secondary-light);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

.favorite-icon-true {
  color: red;
  cursor: pointer;
}

.favorite-icon {
  color: #808080;
  cursor: pointer;
}
  
.favorite-icon:hover {
  color: red;
}

@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
