:root {
  --black: #020303;
  --white: #ffffff;
  --npsgreen: #4b5e26;
  --npsbrown: #c46b38;
  --btnhover: #eee;
  --hover: #4b5e26;
  --space: 16px;
  --font-size: 18px;
}

body {
  background-color: var(--white);
  color: var(--black);
  font-size: var(--font-size);
  line-height: 1.5;
  padding: 0;
  margin: 0;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  background-color: var(--white);
  padding: var(--space) calc(var(--space) * 3);
  text-align: center;
}

main,
main form {
  border-radius: 4px;
}

h1 {
  font-size: calc(var(--font-size) * 2.25);
}
h2 {
  font-size: calc(var(--font-size) * 2);
}
h3 {
  font-size: calc(var(--font-size) * 1.5);
}

a.body {
  color: var(--black);
  transition: color 200ms;
  text-decoration: none;
  font-weight: bold;
}

a {
  color: var(--white);
  transition: color 200ms;
  text-decoration: none;
  font-weight: bold;
}

a:hover,
a:focus {
  color: var(--hover);
  font-weight: bold;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.9);
  margin-bottom: calc(var(--space) * 6);
}
header a {
  margin: var(--space);
}
header .site-logo {
  font-size: calc(var(--font-size) * 1.5);
  margin: var(--space);
  margin-right: auto;
}

input {
  background-color: var(--white);
  border: 1px solid var(--npsgreen);
  border-radius: 8px;
  padding: .7em;
  color: var(--black);
  font-weight: bold;
  font-size: 1em;
  width: 250px;
}

textarea {
  width: 90%;
  height: 150px;
  border: none;
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: .7em;
  color: var(--black);
  font-size: 1em;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  resize: none;
}

button {
  background-color: var(--white);
  color: var(--black);
  padding: .8em 1em;
  text-align: center;
  text-decoration: none;
  font-size: .9em;
  border-radius: 8px;
  border: 1px solid var(--black);
  transition-duration: 0.4s;
  cursor: pointer;
  font-weight: 800;
  margin: 1em;
}

button:hover {
  background-color: var(--btnhover);
  color: var(--black);
}

button.fav {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
}

img {
  border-radius: 10px;
}

hr {
  border: .1em solid var(--npsgreen);
}

footer {
  text-align: center;
  margin-top: auto;
  background-color: var(--black);
  color: var(--white);
  padding: 20px;
}

.site-logo {
  text-align: center;
  color: var(--white);
  text-decoration: none;
  margin: calc(var(--space) * 4) auto;
  display: block;
  font-size: calc(var(--font-size) * 2.5);
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: calc(var(--space) * 3) 0;
}

.login-form .login-error {
  color: var(--white);
}

.login-form input {
  margin-bottom: calc(var(--space) * 2);
  padding: calc(var(--space) * 0.5) calc(var(--space) * 1);
}

.favorite-icon-true {
  color: red;
  cursor: pointer;
}

.heart-icon {
  cursor: pointer;
  transition: color 0.3s;
  color: #ccc;
}

.heart-icon:hover {
  color: red;
}

.heart-icon.clicked {
  color: red;
}

.favcon {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.favtitle {
  width:100%;
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.favcol {
  display: flex;
  flex-direction: column;
}

.favcol img {
  max-width: 80%;
  height: auto;
  margin: auto;
  display: block;
}

.favcol2 {
  background-color: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  text-align: left;
  display: block;
}


@media screen and (max-width: 700px) {
  .site-logo {
    font-size: calc(var(--font-size) * 1.25);
    margin: 0;
  }
  header .site-logo {
    font-size: var(--font-size);
  }
  header a {
    margin: calc(var(--space) / 2);
  }
}
